body{
  margin: 0%;
}

.post-container .date{
  font-family: roboto, sans-serif;
  color: #024d24;
  font-weight: 800;
}

.post-container{
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: #eddfdf;
}

h1{
  font-family: montserrat, sans-serif;
}

.post-container div.post-content{
  width: 90%;
  font-family: open-sans, sans-serif;
  font-weight: normal;
}

.post-container .post{
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;

}

