body{
  background-color: rgb(42, 42, 91)
}

h1{
  color: white;
}

h3{
  color: rgb(207, 207, 6);
}

h2{
  background-color:rgb(255, 192, 3);
  border: 2px solid;
}

li{
  color: white;
}

.classroom{
  color: rgb(206, 18, 18);
}